@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bowlby+One+SC&family=Yatra+One&display=swap');


/* 
Textos en grises text-slate-500

*/

:root {
  --primary: #274494;
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --tournament-dark-bg: 25 16 34;
  --tournament-dark-surface: 31 21 42;
  --tournament-dark-hero: 26 17 34;
  --tournament-dark-border: 54 35 72;
  --tournament-dark-accent: 77 50 103;
  --tournament-dark-header: 38 25 51;
  --tournament-dark-muted: 42 29 54;
  --tournament-dark-muted-strong: 34 23 43;
  --tournament-dark-muted-hover: 58 41 71;
  --scrollbar-thumb: 17 6 30;
  --scrollbar-thumb-hover: 124 58 237;
  --scrollbar-size: 8px;
}

.dark {
  --scrollbar-thumb: 10 7 15;
  --scrollbar-thumb-hover: 22 15 30;
}
/* 
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */ 

body {
  color:  #1f2937;
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-start-rgb))
      )
      rgb(var(--background-end-rgb));
 
  
}

* {
  scrollbar-width: thin;
  scrollbar-color: rgb(var(--scrollbar-thumb)) transparent;
}

*::-webkit-scrollbar {
  width: var(--scrollbar-size);
  height: var(--scrollbar-size);
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: rgb(var(--scrollbar-thumb));
  border-radius: 999px;
  border: 2px solid transparent;
  background-clip: content-box;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: rgb(var(--scrollbar-thumb-hover));
}

h2 {
  font-size: 2rem;
}

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
} 

@-webkit-keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.fade-in {
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;

  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}


.btn-primary {
  @apply bg-indigo-600 hover:bg-indigo-800 text-white py-2 px-4 rounded transition-all;
}

.btn-short {
  @apply hover:text-black hover:bg-gray-300 mx-auto p-2 rounded transition-all;
}

.btn-secondary {
  @apply bg-yellow-500 hover:bg-yellow-600 text-black py-2 px-4 rounded transition-all;
}

.btn-warning {
  @apply bg-red-600 hover:bg-red-800 text-white py-2 px-4 rounded transition-all;
}

//Animacion cartas

.card-animation {
  background-color: black;
  .content {
    position: absolute;
    margin-top: 40px;
    z-index: 1;
    text-align: center;
    left: calc(50% - 175px);
    p {
      font-size: 2rem;
      line-height: 1;
      text-transform: uppercase;
    }

    img { 
      margin: auto;
    }

  }

  .content-text {
    position: absolute;
    margin-top: 20px;
    z-index: 1;
    text-align: center;
    bottom: 80px;
    p {
      font-size: 26px;
      line-height: 1;
      text-transform: uppercase;
    }

  }
}

.column-animation{
  overflow: hidden;
  position: relative;
  justify-content: center;
  margin: 0 4px;
  a{
    animation: carusel 30s linear infinite;
    position: absolute;
    filter: grayscale(100%);
    opacity: 0.4;
    margin: 0px;
  }

  img {
    background-color: aqua;
  }


}

.column-animation:hover > a{
  animation-play-state: paused;
}

.column-animation a:first-child{
	animation-delay: -20s;
}

.column-animation a:nth-child(2){
	animation-delay: -10s;
}

.column-animation a:nth-child(3){
	animation-delay: 0s;
}

.animate-reverse a {
  animation-direction: reverse;
}

.column-animation a:hover {
  filter: grayscale(0);
  opacity: 1;
}

@keyframes carusel {
  from {
    top: -80%;
  }
  to {
    top: 100%;
  }
}

// Fin Animacion Cartas
.polygon {
  overflow: hidden;
  clip-path: polygon(80% 100%, 100% 0px, 0 0px, 0px 0,0 100%);
}

.polygon-l {
  overflow: hidden;
  clip-path: polygon(100% 100%, 100% 0px, 0 0px, 20% 100%,);
}

.h-cal-200 {
  height: calc(100% - 200px);
}
